<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body style="height:100%;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new' %}">글쓰기</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            이동하기
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'signup' %}" tabindex="-1" aria-disabled="true">회원가입</a>
            <a class="dropdown-item" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">로그인</a>
            <a class="dropdown-item" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">로그아웃</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div style="height:100%">
      {% block content %}
      {% endblock %}    
  </div>
  <footer class="bg-dark" style="position: relative; bottom:0; width:100%; text-align: center; padding: 2em; color: white;">
      <div class="container">
              <p>아주대학교 멋쟁이사자차럼 7기 김치헌</p>
      </div>
  </footer>
</body>
</html>

<!-- jquery 참조 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Top Scroll Btn Style -->
<style>
  a#MOVE_TOP_BTN {
  position: fixed;
  right: 2%;
  bottom: 50px;
  display: none;
  z-index: 999;
  }

</style>

<!-- Top Scroll Btn -->
<a id="MOVE_TOP_BTN" href="#"><img color="grey" src='http://esbjergbryggeinvest.dk/images/top-scroll-btn.png' width="55" height = "55"></a>
<script>
  $(function() {
      $(window).scroll(function() {
          if ($(this).scrollTop() > 50) {
              $('#MOVE_TOP_BTN').fadeIn();
          } else {
              $('#MOVE_TOP_BTN').fadeOut();
          }
      });

      $("#MOVE_TOP_BTN").click(function() {
          $('html, body').animate({
              scrollTop : 0
          }, 400);
          return false;
      });
  });
</script>
