{% extends 'base.html' %}

{% block content %}
<br>
    {% for blog in posts %}

      <div class="container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
            <p class="card-text">{{ blog.summary }}</p>
            <p class="card-text">작성자: {{blog.writer}}</p>
            <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
          </div>
        </div> <br>
      </div>
    {% endfor %}
      <div class="container">
        <p class="text-center">
          {%if posts.has_previous%}
      	  <a href="?page=1">First</a>
      	  <a href="?page={{ posts.previous_page_number }}">Previous</a>
      	  {% endif %}

      	  <span>{{ posts.number }}</span>
      	  <span>of</span>
      	  <span>{{ posts.paginator.num_pages }}</span>

      	  {% if posts.has_next %}
      	  <a href="?page={{ posts.next_page_number }}">Next</a>
      	  <a href="?page={{ posts.paginator.num_pages }}">Last</a>
      	  {% endif %}
         </p>
      	</div>
{% endblock %}
